/*Store this code in 'style.css' file inside the 'static' folder*/
body {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  background: whitesmoke;
  height: 100vh;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  height: 500px;
  width: 400px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registercontent {
  margin: 0 auto;
  height: 720px;
  width: 400px;
  background-color: #e6ffee;
  border-radius: 10px;
}

.logintop {
  height: 60px;
  width: 400px;
  color: #ffffff;
}

.registertop {
  height: 60px;
  width: 400px;
  background-color: #009933;
  color: #ffffff;
}

.textbox {
  padding: 10px 40px;
  background-color: black;
  border-radius: 10px;
}

::placeholder {
  color: #ffffff;
  opacity: 1;
  font-style: oblique;
  font-weight: bold;
}

.btn {
  padding: 10px 40px;
  background-color: black;
  color: #ffffff;
  font-style: oblique;
  font-weight: bold;
  border-radius: 10px;
}

.worddark {
  color: black;
  margin: 20px;
  font-weight: bold;
}

.wordlight {
  color: #ffffff;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

.one {
  display: flex;
  position: relative;
}

.one .two {
  width: 15vw;
  height: 100%;
  background: #ffffff;
  padding: 30px 0px;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.one .two h1 {
  color: dark;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.one .two h2 {
  color: #374151;
  text-align: center;
}

.one .two .active {
  background: dark;
}
li a:hover {
  background-color: rgb(197, 197, 197);
  opacity: 0.5;
  border-radius: 10px 10px;
}

li a {
  color: black;
  display: block;
  padding: 20px;
  text-decoration: none;
}

.one .two ul li {
  text-align: center;
  padding: 15px;
  border-bottom: 0.1px solid white;
  border-top: 0.1px solid white;
}

.one .two ul li a {
  color: 374151;
  display: block;
}

.one .two ul li a .side {
  width: 25px;
  align-content: center;
}

.one .content {
  width: 100%;
  margin-left: 200px;
}

.one .content .topbar {
  text-align: center;
  padding: 20px;
  background: black;
  width: 100%;
  color: black;
}

.one .content .contentbar h1 {
  text-align: center;
  font-weight: bold;
}

.form {
  width: 100%;
  padding: 100px;
}

.contentbar {
  width: 100%;
  padding: 100px;
}
